<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Functions & Glory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/main.css" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-XGHWEETRM7"></script>
    <script is:inline>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-XGHWEETRM7');
    </script>
    <style>
        @font-face {
            font-family: "SF Fedora";
            src: url("/sf-fedora.ttf");
        }
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Silkscreen:wght@700&display=swap');
    </style>
    <style>
        @keyframes animateBGIn {
            from {
                transform: translateY(100%) translateZ(var(--translateZ)) scale(var(--scale));
            }
            to {
                transform: translateY(0%) translateZ(var(--translateZ)) scale(var(--scale));
            }
        }

        @keyframes animateClouds {
            0% {
                background-position-x: 0;
            }
            100% {
                background-position-x: 2000px;
            }
        }

        :root {
            --animateBGInDuration: 2s;
            --animateBGInEase: ease-in-out;
        }

        #layer-container {
            perspective: 1px;
        }

        .bg-layer {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-size: cover;
            background-position-x: center;
            background-repeat: repeat-x;
            background-attachment: fixed;
        }

        #layer1 {
            --translateZ: -5px;
            --scale: 6;
            transform: translateY(0%) translateZ(var(--translateZ)) scale(var(--scale));
            animation: animateClouds 90s linear infinite, animateBGIn var(--animateBGInDuration) var(--animateBGInEase);
        }

        #layer2 {
            --translateZ: -4px;
            --scale: 5;
            transform: translateY(0%) translateZ(var(--translateZ)) scale(var(--scale));
            animation: animateBGIn var(--animateBGInDuration) var(--animateBGInEase);
        }

        #layer3 {
            --translateZ: -3px;
            --scale: 4;
            transform: translateY(0%) translateZ(var(--translateZ)) scale(var(--scale));
            animation: animateBGIn var(--animateBGInDuration) var(--animateBGInEase);
        }

        #layer4 {
            --translateZ: -2px;
            --scale: 3;
            transform: translateY(0%) translateZ(var(--translateZ)) scale(var(--scale));
            animation: animateBGIn var(--animateBGInDuration) var(--animateBGInEase);
        }

        #layer5 {
            --translateZ: -1px;
            --scale: 2.1;
            transform: translateY(0%) translateZ(var(--translateZ)) scale(var(--scale));
            animation: animateBGIn var(--animateBGInDuration) var(--animateBGInEase);
        }

        #layer6 {
            --translateZ: 0px;
            --scale: 1;
            transform: translateY(0%) translateZ(var(--translateZ)) scale(var(--scale));
            animation: animateBGIn var(--animateBGInDuration) var(--animateBGInEase);
        }

        #layer7 {
            --translateZ: 0px;
            --scale: 1;
            transform: translateY(0%) translateZ(var(--translateZ)) scale(var(--scale));
            animation: animateBGIn var(--animateBGInDuration) var(--animateBGInEase);
        }
    </style>
</head>
<body class="relative bg-stone-800 text-white">
<div id="layer-container" class="h-screen bg-stone-200 overflow-hidden">
    <div id="layer1" class="absolute top-0 bottom-0 left-0 right-0 bg-repeat z-[1] bg-[url('assets/clouds1.svg')]"/>
    <div id="layer2" class="bg-layer z-[2] bg-[url('assets/mountain1.svg')]"/>
    <div id="layer3" class="bg-layer z-[3]">
        <div class="relative top-1/3 w-full flex flex-col mx-auto text-center animate-in fade-in duration-1000">
            <h1 id="title"
                class="font-fedora font-bold text-[2rem] md:text-[4rem] text-stone-900">
                Functions & Glory</h1>
            <p id="subtitle"
               class="text-stone-800 text-[1rem] md:text-[2rem] italic">
                Ventures in Software</p>
        </div>
    </div>
    <div id="layer4" class="bg-layer z-[4] bg-[url('assets/mountain3.svg')]"/>
    <div id="layer5" class="bg-layer z-[5] bg-[url('assets/mountain2.svg')]"/>
    <div id="layer6" class="bg-layer z-[6] bg-[url('assets/trees1.svg')]"/>
    <!--<div id="layer7" class="relative h-full top-full z-[7] bg-stone-800">-->
    <!--    hello world-->
    <!--</div>-->
</div>
<script>
    history.scrollRestoration = 'manual';

    const layerContainer = document.getElementById('layer-container') as HTMLElement;
    const layer1 = document.getElementById('layer1') as HTMLElement;

    let preventScroll = true;

    layer1.addEventListener('animationend', () => {
        preventScroll = false;
    });

    layerContainer.addEventListener('scroll', () => {
        if (preventScroll) {
            layerContainer.scrollTop = 0;
        }
    });
</script>
</body>
</html>
