---
const {layer, ...rest} = Astro.props;
const translateZ = `-${layer}px`;
const scale = layer + 1.1;
const animateInDuration = "2s";
const animateInEase = "ease-in-out";

---
<style define:vars={{translateZ, scale, animateInDuration, animateInEase}}>

    @keyframes animateIn {
        from {
            transform: translateY(100%) translateZ(var(--translateZ)) scale(var(--scale));
        }
        to {
            transform: translateY(0%) translateZ(var(--translateZ)) scale(var(--scale));
        }
    }

    .layer {
        transform: translateY(0%) translateZ(var(--translateZ)) scale(var(--scale));
        animation: animateIn var(--animateInDuration) var(--animateInEase);
    }
</style>
<div class="layer absolute top-0 bottom-0 right-0 left-0" {...rest}>
    <slot/>
</div>
