<li role="menuitem" data-menu-item data-menu-item-active="false" data-menu-item-target={Astro.props.targetId}
    class="text-stone-300 p-1 border-b-2 transition-colors border-transparent hover:border-stone-300 data-[menu-item-active=true]:border-stone-300">
    <slot/>
</li>
<script>
    import {getHeaderOffset, getScrollContainer} from "../utils";

    const scrollContainer = getScrollContainer();
    const headerOffset = getHeaderOffset();
    const menuItems = document.querySelectorAll<HTMLElement>('[data-menu-item]');

    function onMenuItemClick(menuItem: Element) {
        const targetId = menuItem.getAttribute('data-menu-item-target');

        if (!targetId) {
            throw new Error('data-menu-item-target attribute is required');
        }

        if (!scrollContainer) {
            throw new Error('Element with id=scroll-container not found');
        }

        const targetElement = document.getElementById(targetId);

        if (targetElement) {
            scrollContainer.scrollTo({
                top: Math.ceil(scrollContainer.scrollTop + (targetElement.getBoundingClientRect().y - headerOffset)),
                behavior: 'smooth'
            });
        }
    }

    function setClickEventListeners() {
        menuItems.forEach((menuItem) => {
            menuItem.addEventListener('click', () => onMenuItemClick(menuItem));
        });
    }

    setClickEventListeners();
</script>