---
const {sectionId} = Astro.props
---
<li role="menuitem" aria-label="" data-menu-item data-menu-item-active="false" data-section-id={sectionId}
    class="text-stone-300 p-1 border-b-2 transition-colors border-transparent hover:border-stone-300 data-[state-active=true]:border-stone-300">
    <slot/>
</li>
<script>
    import {getScrollContainer, scrollToSection} from "../utils";

    const scrollContainer = getScrollContainer();
    const menuItems = document.querySelectorAll<HTMLElement>('[data-menu-item]');

    function onMenuItemClick(menuItem: Element) {
        const sectionId = menuItem.getAttribute('data-section-id');
        const targetElement = document.getElementById(sectionId);

        if (!sectionId) {
            throw new Error('data-section-id attribute is required');
        }

        if (!scrollContainer) {
            throw new Error('Element with id=scroll-container not found');
        }

        if (!targetElement) {
            throw new Error(`Element with id=${sectionId} not found`);
        }

        scrollToSection(scrollContainer, targetElement);
    }

    menuItems.forEach((menuItem) => {
        menuItem.addEventListener('click', () => onMenuItemClick(menuItem));
    });
</script>