---
import cloudImg from '../assets/cloud1.svg';
---
<style>
    @keyframes animateCloud {
        0% {
            left: -300px;
        }
        100% {
            left: 100%;
        }
    }

    .cloud {
        animation: animateCloud 60s linear infinite -10s;
    }
</style>
<div class="cloud absolute top-1/4 w-[300px]">
    <img src={cloudImg.src} alt="cloud"/>
</div>
